@import url('./variables.css');

main {
    max-width: 414px;
    margin-inline: auto;
    display: grid;
    background-color: var(--White);
    font-family: 'medium', sans-serif;

    & section {
        padding: var(--padding);
    }

    & .result {
        text-align: center;
        display: grid;
        place-items: center;
        background-image: linear-gradient(to bottom, 
            var(--Light-slate-blue),
            var(--Light-royal-blue));
        border-bottom-left-radius: var(--padding);
        border-bottom-right-radius: var(--padding);
        color: var(--Light-lavender);
        /* padding-inline: calc(2 * var(--padding)); */
        /* padding: var(--padding); */
        padding-top: 1.5rem;

        & h2 {
            font-size: 1rem;
        }

        & .circle {
            width: 7.75rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-block: 1.25rem;
            /* padding-inline: var(--padding); */
            background-image: linear-gradient(to bottom,
                var(--Violet-blue),
                var(--Persian-blue));
            display: grid;
            place-items: center;
            font-size: .8rem;

            & [data-score] {
                opacity: 0;
                transition: opacity 500ms linear;
                color: var(--White);
                font-size: 2.9rem;
                font-weight: 800;
            }
        }

        & [data-delay-display] {
            opacity: 0;
            transition: opacity 200ms linear;
            font-size: .9rem;
            padding-inline: .3rem;
            /* opacity: .3; */

            & :first-child {
                color: var(--White);
                font-size: 1.25rem;
                margin-bottom: .5rem;
            }
        }
    }

    & .summary {
        & h2 {
            color: var(--Dark-gray-blue);
            font-size: 1rem;
        }

        & .abilities {
            display: grid;
            gap: 1rem;
            padding-block: 2.5rem;

            & div {
                display: flex;
                justify-content: space-between;
    
                & .icon-ability {
                    display: flex;
                    gap: .5rem;

                    & h3 {
                        font-weight: 700;
                        font-size: .9rem;
                    }
                }
            }

            & > div {
                font-size: .9rem;
                padding: .75rem;
                border-radius: 10rem;
                background-color: hsla(0, 100%, 67%, .05);
            }

            & > div:nth-child(1) {
                animation: slide-in ease-in 500ms backwards;
                animation-delay: .25s;

                & h3 {
                    color: var(--Light-red);
                }
            }
            & > div:nth-child(2) {
                animation: slide-in ease-in 500ms backwards;
                animation-delay: .5s;

                & h3 {
                    color: var(--Orangey-yellow);
                }
            }
            & > div:nth-child(3) {
                animation: slide-in ease-in 500ms backwards;
                animation-delay: .75s;

                & h3 {
                    color: var(--Green-teal);
                }
            }
            & > div:nth-child(4) {
                animation: slide-in ease-in 500ms backwards;
                animation-delay: 1s;

                & h3 {
                    color: var(--Cobalt-blue);
                }
            }
        }

        & .score {
            color: var(--Dark-gray-blue);

            & span {
                font-weight: 800;
            };
        }

        & button {
            cursor: pointer;
            width: 100%;
            padding: 1rem;
            outline: none;
            border: none;
            border-radius: 10rem;
            background-color: var(--Dark-gray-blue);
            color: var(--White);
            font-size: .95rem;
            font-weight: 700;
            transition: scale 100ms;
            animation: fade-in linear 500ms backwards;
            animation-delay: 1.75s;
        }
        & button:active {
            scale: .98;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        /* opacity: 0; */
        visibility: hidden;
    }
    to {
        /* opacity: 1; */
        visibility: visible;
    }
}

footer {
    font-family: 'medium', sans-serif;
    margin-top: auto;
    font-size: .8rem; 
    text-align: center;
    padding: .5rem;
    color: var(--Light-slate-blue);

    & a {
        text-decoration: none;
        color: var(--Light-royal-blue);
    }
}