@import url('./variables.css');
@import url('./blocks.css');
@import url('./desktop.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    min-height: 100svh;
    display: grid;
    background-color: var(--Pale-blue);
}

.hidden {
    position: absolute;
    left: -100rem;
}

/* @media (width > 1440px) { */
@media (width > 1280px) {
    body {
        padding-top: 10%;
    }
}